DJANGO_USER=django
DJANGO_PASSWORD=
DB_HOST=db
DJANGO_DATABASE=django
MYSQL_USER=wordpress
MYSQL_PASSWORD=
MYSQL_DATABASE=wordpress
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
TARGET_URL=https://odinscall.com
MYSQL_ROOT_PASSWORD=
DOMAIN_NAME=odinscall.com
MYSQL_PORT=3306
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=redis
REDIS_USER=redis
REDIS_PASS=
WORDPRESS_DB_HOST=db
WORDPRESS_DEBUG=True
PUBLIC_IP=
DOLLAR=$
INFLUXDB_NAME=influx
INFLUXDB_USER=influx
INFLUXDB_PASS=
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=